PORT=
MONGO_USER=
MONGO_PASSWORD=
MONGO_URL=
MONGO_DB=

SMTP_HOST= 
SMTP_PORT= 
SMTP_USER= 
SMTP_PASSWORD=
SMTP_FROM= 

CLOUD_NAME= 
CLOUD_API_KEY= 
CLOUD_API_SECRET= 
CLOUD_ENABLE=

JWT_SECRET= 

APP_DOMAIN= 
